# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data / Model
*.faiss
*.pkl

# IDEs
.vscode/
.idea/

# Custom Test Files
test_requests.txt
sample_queries.txt