# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data / Model
*.faiss
*.pkl

# IDEs
.vscode/
.idea/

# Custom Test Files
test_requests.txt

# Node.js / Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
.eslintcache
